* {
    margin: 0;
    padding: 0;
}

/* body {
    background-color: black;
    color: white;
} */

.header{

    background-color: rgb(139, 55, 181);
    color: white;
    height: 4vw;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: inherit;
}

.mode{

    border-radius: 20%;
}

.gamecontainer {
    background-color: rgb(224, 240, 245);
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 3vw;
}


.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(232, 192, 236);
}

.gameinfo{
    /* padding: 0 34px; */
    margin: 2vw;

}

.bt-0 {
    border-top: none;
}

.bb-0 {
    border-bottom: none;
}

.br-0 {
    border-right: none;
}

.bl-0 {
    border-left: none;
}


.light {
    background-color: black;
    color: white;
    /* .gamecontainer {
        background-color: red;
    } */
}

.dark {
    background-color: white;
    color: black;
}



.result-box {

    margin-top: 10vw;
    text-align: center;
    /* padding: 10vw; */
}

.result-msg {

    font-size: 9vw;
    padding: 1rem;
    display: inline;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 1rem;
    
}


.hide {
    display: none;
}


.info {
    font-size: 3vw;
    margin: 3vw;
}



#reset-btn {
    margin: 2vw;
    font-size: 3vw;
    border-radius: 1vw;
    border-width: 1vw;
    margin: 2vw;
    background-color: #6686e0;
    color: white;
    border-color: rgb(179, 224, 240);
} 

#reset-btn :active{
    background-color: #67998d;
    box-shadow: 2rem;
    border-width: 1vw;
}

.newGame {
    margin: 5vw;
    text-align: center;
}

#newGame-msg {
    display: inline;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 1vw;
    font-size: 8vw;
    border-color: black;
    border-width: 20vw;
}

#newGame-msg:active {

    background-color: rgb(241, 152, 43);
    box-shadow: 20rem;
}

#newGame-msg:hover{
    cursor: pointer;
}


.show {
    display: block; /* or any other appropriate display property */
}